
@{
    ViewData["Title"] = "BlankPage";
}

<!-- Lineawesome CSS -->
<link rel="stylesheet" href="~/css/line-awesome.min.css">

<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Blank Page</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Dashboard/EmployeeIndex">Dashboard</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Content Starts -->
        Content Starts Here
        <!-- /Content End -->

    </div>
    <!-- /Page Content -->

</div>
<!-- /Page Wrapper -->

@section Scripts{ }
